<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inlämniningsuppgift 1</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='src/leaflet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/Leaflet.PolylineMeasure.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/Control.Coordinates.css') }}">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.Default.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename= 'src/css/styles.css')}}">
     
         
        <script src="{{ url_for('static', filename='src/leaflet-src.js') }}"></script>
        <script src="{{ url_for('static', filename='src/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/leaflet.markercluster-src.js') }}"></script>
        <script src="{{ url_for('static', filename='src/turf.min.js') }}" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/Leaflet.PolylineMeasure.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/Control.Coordinates.js') }}"></script>

        <script src="{{ url_for('static', filename='fuel.js') }}"></script>
        <script src="{{ url_for('static', filename='supermarket.js') }}"></script>
       
    </head>
    <body>
        <div id="mapdiv" class="col-md-9"></div>
        <!-- BUTTONS -->
        <div id="side-bar" class="col-md-3"><h2>Group 8's map:</h2>
            <button id="btnSater" class="btn btn-primary btn-block m-1">ZoomToSäter</button>
            <button id="btnSaterAsenvagen" class="btn btn-primary btn-block m-1">ZoomToÅsenvägen</button>
            <button id="btnBagarn" class="btn btn-primary btn-block m-1">ZoomToBagarn</button>
            <button id="btnGlobe" class="btn btn-primary btn-block m-1">ZoomToGlöben</button>
            <button id="btnSuperMarkets" class="btn btn-primary btn-block m-1">SuperMarkets</button>
            <button id="btnFuel" class="btn btn-primary btn-block m-1">Fuel</button>   
            <button id="btnSchools" class="btn btn-primary btn-block m-1">Schools</button>
            <button id="btnWeather" class="btn btn-primary btn-block m-1">Weather</button>
        </div>
        <!-- END BUTTONS -->
        
        <!-- SIDEBAR -->
        <div id="sidebar"><h1>Information</h1></div>
        <!-- END SIDEBAR -->
        

        <script type="text/javascript">
            const clusterPoints = {{ points | tojson | safe }};
            const clusterIcons = {{ icons | tojson | safe }};
            const clusterCentroids = {{ centroids | tojson | safe }};
        </script>

        <script>

            console.log(clusterPoints);
            console.log(clusterIcons);
            console.log(clusterCentroids);

            $(document).ready(function(){
                const mymap = L.map("mapdiv", {center:[60.34640783388847, 15.746372005989052], zoom:13});
                const lyrOSM= L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
                mymap.addLayer(lyrOSM);
                
                const ctlZoomslider = L.control.zoomslider({position:"topright"}).addTo(mymap);

                const controlCoords = new L.Control.Coordinates();
                controlCoords.addTo(mymap);

                mymap.on('click', function(e) {
                    controlCoords.setCoordinates(e);
                });
                
                const sidebar = L.control.sidebar("sidebar", {position: "left"});
                mymap.addControl(sidebar);
                

                // ICONS
                const iconUrls = {
                    blackIcon: "{{ url_for('static', filename='/src/icons/map-marker.svg') }}",
                    pumpIcon: "{{ url_for('static', filename='/src/icons/pump.svg') }}",
                    cloudIcon: "{{ url_for('static', filename='/src/icons/cloud.svg') }}",
                    centroidIcon: "{{ url_for('static', filename='/src/icons/centroid.svg') }}"
                };   
                            
                const blackIcon = L.icon({
                    iconUrl: iconUrls.blackIcon,
                    iconSize:     [32, 37], 
                    iconAnchor:   [32, 37], 
                    popupAnchor:  [0, -30] 
                });

                const pumpIcon = L.icon({
                    iconUrl: iconUrls.pumpIcon,
                    iconSize:     [32, 37], 
                    iconAnchor:   [32, 37],
                    popupAnchor:  [0, -30] 
                });

                const cloudIcon = L.icon({
                    iconUrl: iconUrls.cloudIcon,
                    iconSize:     [32, 37], 
                    iconAnchor:   [16, 37], 
                    popupAnchor:  [0, -37] 
                });

                const centroidIcon = L.icon({
                    iconUrl: iconUrls.centroidIcon,
                    iconSize:     [32, 37], 
                    iconAnchor:   [16, 37], 
                    popupAnchor:  [0, -37] 
                });
                // END ICONS
                // CLUSTER POINTS
                const schoolLayer = L.layerGroup();

                clusterPoints.forEach(function(point) {
                    const clusterId = point.cluster;
                    const iconUrl = clusterIcons[clusterId.toString()];
                    const clusterIcon = L.icon({
                        iconUrl: iconUrl,
                        iconSize:     [32, 37], 
                        iconAnchor:   [16, 37], 
                        popupAnchor:  [0, -37] 
                    }); 
                    L.marker([point.ycoord, point.xcoord], {icon: clusterIcon})
                    .addTo(schoolLayer)
                    .bindPopup('School name: ' + point.Name + '<br>Cluster: ' + point.cluster);
                });

                clusterCentroids.forEach(function(centroid) {
                    L.marker([centroid.ycoord, centroid.xcoord], {icon: centroidIcon})
                    .addTo(schoolLayer)
                    .bindPopup('Centroid for cluster: ' + centroid.clusterNum);
                });
                // END CLUSTER POINTS
                // MARKERS

                const saterLocLayer = L.layerGroup()
                const popSater = L.marker([60.34640783388847, 15.746372005989052],{icon: blackIcon})
                .addTo(mymap)
                .bindPopup("<h3>Welcome to Säter!</h3><p>Säters kommun ligger i södra delen av landskapet Dalarna (Dalarnas län).<br><br>Kommunen gränsar i öster till Hedemora och i väster till Borlänge och Falun, i söder till Smedjebacken och i norr till Falun. Residensstad är Falun och Dalarna tillhör Västerås stift.<br><br>Förutom Säters centralort så finns kommundelarna Gustafs, Stora Skedvi och Silvberg. Nu bor cirka 11 000 människor i kommunen, varav omkring hälften i centralorten Säter. Befolkningsutvecklingen är positiv.<br><br>Kommunen har en yta på 574 km². Största delen av kommunen är skogs- och jordbruksmarker.<br><br>Kommunen bildades 1971 av Säters stad, Gustafs och St. Skedvi kommuner. Säters stad bestod då av Säters stad och socken, Gustafs kommun innehöll Gustafs och Silvbergs socknar.</p><img src={{ url_for('static', filename='img/Tokig_i_sater.gif') }} width='150px'>");
                
                const popMentalvardMuseum = L.marker([60.34219053393169, 15.711821630690526],{icon: blackIcon})
                .addTo(saterLocLayer);
                popMentalvardMuseum.on('click', function(e){
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Mentalvårdsmuseet!</h3><p>Mentalvårdsmuseet är beläget vid Säters sjukhus och berättar om den tid då största delen av psykiatrins verksamhet bedrevs på stora mentalsjukhus. Den här webbplatsen riktar sig till dig som vill besöka oss eller veta mer om museets historia och samlingar.<p><img src={{ url_for('static', filename='img/mentalvardmuseumsater.jpg') }} width='150px'>");
                });
                
                const popSaterGrillen = L.marker([60.34709575205177, 15.75163681099822],{icon: blackIcon})
                .addTo(saterLocLayer);
                popSaterGrillen.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Säter Grillen!</h3><p>Upplev gourmetnivå med vår signatur Mexikanska pizza! Utforska smakens mångfald😉🍕🌶️ Varning: kan orsaka beroende av kryddig godhet! 😋<p><img src={{ url_for('static', filename='img/pizzeria.jpg') }} width='150px'>");
                });
                
                const popKlockarSkolan = L.marker([60.346646945534005, 15.740775937986164],{icon: blackIcon})
                .addTo(saterLocLayer);
                popKlockarSkolan.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Klockarskolan!</h3><p>Det här är Klockarskolan - Säters kommuns skola för elever i årskurs 7-9. För oss är det viktigt att DU upplever att du LYCKAS med ditt skolarbete och att vi hjälps åt.<p><img src={{ url_for('static', filename='img/klockarskolan.png') }} width='150px'>");
                });

                const popSaterDalen = L.marker([60.350030240931474, 15.759631888742012],{icon: blackIcon})
                .addTo(saterLocLayer);
                popSaterDalen.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Säterdalen!</h3><p>Säterdalen är ett omväxlande landskap med branta raviner och böljande skogsbackar. På ravinens botten slingrar sig Ljusterån fram. En vandringsled går genom dalen längs med Ljusteråns stränder. Här finns en unik och fantastiskt vacker natur, men även en kunglig rastplats!<p><img src={{ url_for('static', filename='img/saterdalen.png') }} width='150px'>");
                });
             
                const popSaterKyrka = L.marker([60.345466899686755, 15.746454147785553],{icon: blackIcon})
                .addTo(saterLocLayer);
                popSaterKyrka.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Säters kyrka!</h3><p>Säters kyrka i Säter är församlingskyrka för Säterbygdens församling i Västerås stift. Den nuvarande kyrkan byggdes 1778–1779. Tornet byttes dock ut 1806–1807, då det stod på ostadig grund. 1811 fastställdes hur orgelfasaden och altaret skulle se ut.<br><br>Tidigare stod en annan stenkyrka på platsen. Den invigdes på hösten 1635 och ersatte då en träkyrka som var i bruk 1628–1635. Det visade sig dock att denna kyrka var undermåligt byggd och man rev den år 1778. <br><br> I anslutning till kyrkan, på andra sidan gatan, ligger församlingshemmet Coriandergården. Denna har fått sitt namn av Säters första kyrkoherde Magnus Andræ Coriander, verksam 1636–1663, vilken även har gett namn åt kyrkokören Corianderkören. <p><img src={{ url_for('static', filename='img/saterskyrka.png') }} width='150px'>");
                });

                // END MARKERS
                // CLICK FUNCTION TO HIDE SIDEBAR

                mymap.on('click', function() {
                    sidebar.hide();
                });
                
                // END CLICK FUNCTION TO HIDE SIDEBAR
                // POLYLINE MEASURE LINES

                let polyLineMeasureControl = L.control.polylineMeasure({
                    position: 'topleft',
                    showBearings:true, 
                    clearMeasurementsOnStop: false, 
                    showUnitControl: true
                }).addTo(mymap);

                const saterLines = [
                    {lat: 60.34219053393169, lng:15.711821630690526},
                    {lat: 60.346646945534005, lng: 15.740775937986164},
                    {lat: 60.350030240931474, lng: 15.759631888742012},
                    {lat: 60.34709575205177, lng: 15.75163681099822},
                    {lat: 60.345466899686755, lng: 15.746454147785553},
                    {lat: 60.34219053393169, lng:15.711821630690526}
                ];

                // END POLYLINE MEASURE LINES
                // POLYGON
                    
                const gustafsBrodPoly = L.polygon([
                    [60.40405873387609, 15.596026646989579],
                    [60.40418349349315, 15.596434885259788],
                    [60.40433498667086, 15.59616874097313],
                    [60.404436353035635, 15.595859742945398],
                    [60.404242531359486, 15.595568788598122] 
                ]).addTo(mymap)
                .bindPopup("<h3>Gustafs bröd</h3><p>Vi är ett litet bageri/caféer som ligger i Gustafs och Säter. Vi bakar allt inom bageri/kondtori</p><img src={{ url_for('static', filename='/img/gustafs_brod.png') }} width='150px'>");

                // END POLYGON
                // POLYLINE

                const asenVagLine = L.polyline([
                    [60.338360351490955, 15.7607417838101],
                    [60.338609894903215, 15.760586215682807],
                    [60.338795723864074, 15.760366274537317],
                    [60.34059820989227, 15.75711543699507],
                    [60.340717664209045, 15.756777478649568],
                    [60.34087428142849, 15.75619275706766]
                ], { color: 'red' })
                .addTo(mymap)
                .bindPopup("<h3>Åsen vägen</h3><p>Åsenvägen kopplar samman Säter's innerstad med bostadsområdet Åsen.</p><img src={{ url_for('static', filename='/img/AsenVagenSater.jpeg') }} width='150px'>");

                // END POLYLINE
                // SUPERMARKET FUNCTIONS

                const supermarketBuffers = [];

                const supermarketLayer = L.geoJson(supermarket, {
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup(feature.properties.name);
                        const buffer = turf.buffer(feature, 1, {units: 'kilometers'});
                     
                        const bufferLayer = L.geoJSON(buffer, {
                            style:{
                                color:'orange', 
                                dashArray:'10', 
                                fillOpacity:0.3
                            }
                        });

                        supermarketBuffers.push({
                            feature: feature,
                            layer: layer,
                            buffer: buffer,
                            bufferLayer: bufferLayer
                        });
                    }       
                });
                
                // END SUPERMARKET FUNCTIONS
                // IMAGE OVERLAY GLOBEN

                const globenBounds = L.latLngBounds([
                    [59.2940,  18.0823], 
                    [59.2932,  18.0841]
                ]);

                const imageOverlayGloben = L.imageOverlay("{{ url_for('static', filename='/img/GLOBEN.png') }}", globenBounds, {
                    opacity: 0.8,
                    alt: 'Globen',
                    interactive: true
                }).addTo(mymap);

                // END IMAGE OVERLAY GLOBEN
                // FUEL STATIONS
            
                const fuelLayer = L.markerClusterGroup();

                L.geoJson(fuel, {
                    onEachFeature: function (feature, layer) {
                        if (feature.properties && feature.properties.name) {
                            layer.bindPopup(feature.properties.name);
                        }
                    },
                    pointToLayer: function (feature, latlng) {

                        return L.marker(latlng, {icon: pumpIcon});
                    }
                }).addTo(fuelLayer);

                // END FUEL STATIONS
                // WEATHER

                const weatherLayer = L.layerGroup();

                const cities = [
                    { name: "Falun", coords: [60.60580472861724, 15.63369720593686] },
                    { name: "Borlänge", coords: [60.48368089294031, 15.430147102186696] },
                    { name: "Gagnef", coords: [60.59086617909959, 15.07043173564424] },
                    { name: "Hedemora", coords: [60.27764295995458, 15.985137188118204] },
                    { name: "Avesta", coords: [60.145258163689, 16.172561789224062] }
                ];

                const apiKey = '348f0c4a77d2eebd3718ea3136e113a4';

                cities.forEach(city => {
                    const weatherUrl = `https://api.openweathermap.org/data/2.5/weather?lat=${city.coords[0]}&lon=${city.coords[1]}&appid=${apiKey}&units=metric`;
                    const forecastUrl = `https://api.openweathermap.org/data/2.5/forecast?lat=${city.coords[0]}&lon=${city.coords[1]}&appid=${apiKey}&units=metric`;
                    fetch(weatherUrl)
                        .then(response => response.json())
                        .then(data => { 
                            const currentTemp = data.main.temp;
                            const currentDesc = data.weather[0].description;
                            const currentIconUrl = `http://openweathermap.org/img/w/${data.weather[0].icon}.png`;
                            const marker = L.marker(city.coords, {icon: cloudIcon}).addTo(weatherLayer);
                            marker.bindPopup(`<h3>${city.name}</h3><p>Temperature: ${currentTemp}°C<br>Description: ${currentDesc}</p><img src="${currentIconUrl}">`);
                            marker.on('click', function (e) {
                                fetch(forecastUrl)
                                .then(response => response.json())
                                .then(data => {
                                    let sidebarWeather = `<h1>${city.name}</h1>`;
                                    sidebarWeather += `<p>Current Temperature: ${currentTemp}°C</p>`;
                                    sidebarWeather += `<p>Weather: ${currentDesc}</p>`;
                                    sidebarWeather += `<img src="${currentIconUrl}" alt="Current Weather Icon"><h2>Forecast</h2>`;

                                    data.list.forEach(forecast => {
                                        const forecastTemp = forecast.main.temp;
                                        const forecastDesc = forecast.weather[0].description;
                                        const forecastIconUrl = `http://openweathermap.org/img/w/${forecast.weather[0].icon}.png`;
                                        sidebarWeather += `<p>${forecast.dt_txt}: ${forecastTemp}°C, ${forecastDesc} <img src="${forecastIconUrl}" alt="Weather Icon"></p>`;
                                    });
                                    sidebar.show()
                                    sidebar.setContent(sidebarWeather);   
                                })
                            })
                        })
                });

                // END WEATHER
                // BUTTON CLICK FUNCTIONS

                // setView max 18
                $("#btnSater").click(function(){
                    if (mymap.hasLayer(saterLocLayer)) {
                        mymap.removeLayer(saterLocLayer);
                        polyLineMeasureControl._clearAllMeasurements();
                    } else {
                        mymap.addLayer(saterLocLayer); 
                        polyLineMeasureControl.seed([saterLines]);
                    }
                    mymap.setView([60.3440, 15.7378], 15);
                })

                $("#btnSaterAsenvagen").click(function(){
                    mymap.setView([60.338795723864074, 15.760366274537317], 17);
                })

                $("#btnBagarn").click(function(){
                    mymap.setView([60.40433498667086, 15.59616874097313], 18);
                })

                $("#btnGlobe").click(function(){
                    mymap.setView([59.29356499477762, 18.083123473195176], 18);
                })
                

                $("#btnSuperMarkets").click(function() {
                    if(mymap.hasLayer(supermarketLayer)) {
                        mymap.removeLayer(supermarketLayer);
                        supermarketBuffers.forEach((supermarket) => {
                            if (mymap.hasLayer(supermarket.bufferLayer)) {
                                mymap.removeLayer(supermarket.bufferLayer);
                            }
                        });
                    } else {
                        mymap.addLayer(supermarketLayer);

                        supermarketBuffers.forEach((supermarket, index) => {
                            mymap.addLayer(supermarket.bufferLayer);
                            let overlaps = false;
                            supermarketBuffers.forEach((otherSupermarket, otherIndex) => {
                                if (index !== otherIndex && turf.intersect(supermarket.buffer, otherSupermarket.buffer)) {
                                    overlaps = true;
                                }
                            });

                            if (!overlaps) {
                                supermarket.bufferLayer.setStyle({
                                    color: 'purple',
                                    fillColor: 'purple',
                                    fillOpacity: 0.3
                                });
                                supermarket.layer.bindPopup(supermarket.feature.properties.name + " - Not overlapping");
                            }
                        });
                    }
                    mymap.setView([59.8565, 17.6427], 9);
                });

                

                $("#btnFuel").click(function() {
                    if(mymap.hasLayer(fuelLayer)) {
                        mymap.removeLayer(fuelLayer);
                    } else {
                        mymap.addLayer(fuelLayer);
                    }
                    mymap.setView([59.3338, 17.9740], 10)
                }) 
                
                $("#btnSchools").click(function() {
                    if(mymap.hasLayer(schoolLayer)) {
                        mymap.removeLayer(schoolLayer);
                    } else { 
                        mymap.addLayer(schoolLayer);
                    }
                    mymap.setView([59.3304, 18.0440], 10)
                })

                $("#btnWeather").click(function() {
                    if(mymap.hasLayer(weatherLayer)) {
                        mymap.removeLayer(weatherLayer);
                    } else {
                        mymap.addLayer(weatherLayer);
                    }
                    mymap.setView([60.3650, 15.5594], 9)
                })

                // END BUTTON CLICK FUNCTIONS   

            }); 

        </script>
    </body>
</html>