<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Webmapp 201</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='src/leaflet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/Leaflet.PolylineMeasure.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/Control.Coordinates.css') }}">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.Default.css') }}">
     
        
        
        <script src="{{ url_for('static', filename='src/leaflet-src.js') }}"></script>
        <script src="{{ url_for('static', filename='src/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/turf.min.js') }}" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/Leaflet.PolylineMeasure.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/Control.Coordinates.js') }}"></script>

        <script src="{{ url_for('static', filename='swedish_counties.js') }}"></script>
        <script src="{{ url_for('static', filename='countries.js') }}"></script>
        <script src="{{ url_for('static', filename='fuel.js') }}"></script>
        <script src="{{ url_for('static', filename='supermarket.js') }}"></script>
       
        <style>
            #mapdiv {
                height: 100vh;
            }  
            
            #side-bar {
			position: absolute;
			z-index: 1000;
			background: rgba(255,255,255,0.7);
			padding: 10px;
			right: 0;
            top: 0;
			margin: 10px;
			border-radius: 10px;
			min-height: 200px;
            }
                        
        </style>
    </head>
    <body>
       <div id="mapdiv" class="col-md-9"></div>
       
       <div id="side-bar" class="col-md-3"><h2>My Map</h2>
            <button id="l1">layer1</button>
            <button id="l2">layer2</button>
            <button id="btnSater" class="btn btn-primary btn-block">ZoomToSäter</button>
            <button id="btnSaterAsenvagen" class="btn btn-primary btn-block">ZoomToÅsenvägen</button>
            <button id="btnBagarn" class="btn btn-primary btn-block">ZoomToBagarn</button>

  
       </div>
       
       <div id="sidebar"><h1>Information</h1>
       </div>
        
       <script>
            var mymap; 
            var lyrOSM; 
            var mrkCurrentLocation;
            var ctlZoomslider;
            var swedishlayer = L.geoJson(swedish_counties);
            var countrieslayer
            var ctlSlidebar;
            var sample = L.geoJson(sample);
            var sample1 = L.geoJson(sample1);
            
           
            $(document).ready(function(){
                mymap = L.map("mapdiv", {center:[60.34640783388847, 15.746372005989052], zoom:13});
                lyrOSM= L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
                mymap.addLayer(lyrOSM);
                
                
                ctlZoomslider = L.control.zoomslider({position:"topright"}).addTo(mymap);
                
                var sidebar = L.control.sidebar("sidebar", {position: "left"});
                mymap.addControl(sidebar);

                var iconUrls = {
                    blackIcon: "{{ url_for('static', filename='map-marker.svg') }}",
                    pooIcon: "{{ url_for('static', filename='poop.svg') }}"
                };   
                            
                var blackIcon = L.icon({
                    iconUrl: iconUrls.blackIcon,
                    iconSize:     [32, 37], // size of the icon
                    iconAnchor:   [32, 37], // point of the icon which will correspond to marker's location
                    popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
                });

                var pooIcon = L.icon({
                    iconUrl: iconUrls.pooIcon,
                    iconSize:     [32, 37], // size of the icon
                    iconAnchor:   [32, 37], // point of the icon which will correspond to marker's location
                    popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
                });

                const popSater = L.marker([60.34640783388847, 15.746372005989052],{icon: blackIcon}).addTo(mymap).bindPopup("Säter").bindPopup("<h3>Welcome to Säter!</h3><img src={{ url_for('static', filename='img/Tokig_i_sater.gif') }} width='150px'>");
                
                const popMentalvardMuseum = L.marker([60.34219053393169, 15.711821630690526],{icon: blackIcon}).addTo(mymap);
                popMentalvardMuseum.on('click', function(e){
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Mentalvårdsmuseet!</h3><p>Mentalvårdsmuseet är beläget vid Säters sjukhus och berättar om den tid då största delen av psykiatrins verksamhet bedrevs på stora mentalsjukhus. Den här webbplatsen riktar sig till dig som vill besöka oss eller veta mer om museets historia och samlingar.<p><img src={{ url_for('static', filename='img/mentalvardmuseumsater.jpg') }} width='150px'>");
                });
                
                const popSaterGrillen = L.marker([60.34709575205177, 15.75163681099822],{icon: blackIcon}).addTo(mymap);
                popSaterGrillen.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Säter Grillen!</h3><p>Upplev gourmetnivå med vår signatur Mexikanska pizza! Utforska smakens mångfald😉🍕🌶️ Varning: kan orsaka beroende av kryddig godhet! 😋<p><img src={{ url_for('static', filename='img/pizzeria.jpg') }} width='150px'>");
                });
                
                const popKlockarSkolan = L.marker([60.346646945534005, 15.740775937986164],{icon: blackIcon}).addTo(mymap);
                popKlockarSkolan.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Klockarskolan!</h3><p>Det här är Klockarskolan - Säters kommuns skola för elever i årskurs 7-9. För oss är det viktigt att DU upplever att du LYCKAS med ditt skolarbete och att vi hjälps åt.<p><img src={{ url_for('static', filename='img/klockarskolan.png') }} width='150px'>");
                });

                const popSaterDalen = L.marker([60.350030240931474, 15.759631888742012],{icon: blackIcon}).addTo(mymap);
                popSaterDalen.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Säterdalen!</h3><p>Säterdalen är ett omväxlande landskap med branta raviner och böljande skogsbackar. På ravinens botten slingrar sig Ljusterån fram. En vandringsled går genom dalen längs med Ljusteråns stränder. Här finns en unik och fantastiskt vacker natur, men även en kunglig rastplats!<p><img src={{ url_for('static', filename='img/saterdalen.png') }} width='150px'>");
                });
             
                const popSaterKyrka = L.marker([60.345466899686755, 15.746454147785553],{icon: blackIcon}).addTo(mymap);
                popSaterKyrka.on('click', function(e) {
                    sidebar.show();
                    sidebar.setContent("<h3>Welcome to Säters kyrka!</h3><p>Säters kyrka i Säter är församlingskyrka för Säterbygdens församling i Västerås stift. Den nuvarande kyrkan byggdes 1778–1779. Tornet byttes dock ut 1806–1807, då det stod på ostadig grund. 1811 fastställdes hur orgelfasaden och altaret skulle se ut.<br><br>Tidigare stod en annan stenkyrka på platsen. Den invigdes på hösten 1635 och ersatte då en träkyrka som var i bruk 1628–1635. Det visade sig dock att denna kyrka var undermåligt byggd och man rev den år 1778. <br><br> I anslutning till kyrkan, på andra sidan gatan, ligger församlingshemmet Coriandergården. Denna har fått sitt namn av Säters första kyrkoherde Magnus Andræ Coriander, verksam 1636–1663, vilken även har gett namn åt kyrkokören Corianderkören. <p><img src={{ url_for('static', filename='img/saterskyrka.png') }} width='150px'>");
                });

                mymap.on('click', function() {
                    sidebar.hide();
                });  

                let polyLine = L.control.polylineMeasure().addTo(mymap);

                const saterLines = [
                    {lat: 60.34219053393169, lng:15.711821630690526},
                    {lat: 60.34709575205177, lng: 15.75163681099822},
                    {lat: 60.346646945534005, lng: 15.740775937986164},
                    {lat: 60.350030240931474, lng: 15.759631888742012},
                    {lat: 60.345466899686755, lng: 15.746454147785553}
                ];

                polyLine.seed([saterLines]);
                    
                const gustafsBrodPoly = L.polygon([
                    [60.40405873387609, 15.596026646989579],
                    [60.40418349349315, 15.596434885259788],
                    [60.40433498667086, 15.59616874097313],
                    [60.404436353035635, 15.595859742945398],
                    [60.404242531359486, 15.595568788598122] 
                ]).addTo(mymap).bindPopup("Gustafs bröd").bindPopup("<h3>Gustafs bröd</h3><img src={{ url_for('static', filename='/img/gustafs_brod.png') }} width='150px'>");

                const asenvag_points =  [
                    [60.338360351490955, 15.7607417838101],
                    [60.338609894903215, 15.760586215682807],
                    [60.338795723864074, 15.760366274537317],
                    [60.34059820989227, 15.75711543699507],
                    [60.340717664209045, 15.756777478649568],
                    [60.34087428142849, 15.75619275706766]
                ];

                const asenVagLine = L.polyline(asenvag_points, { color: 'red'}).addTo(mymap).bindPopup("Åsen vägen").bindPopup("<h3>Åsen vägen</h3><img src={{ url_for('static', filename='/src/images/skogsvag.jpg') }} width='150px'>");

                        document.getElementById("l1").addEventListener("click", sweden);

                        function sweden(){
                            if(mymap.hasLayer(swedishlayer)){
                                mymap.removeLayer(swedishlayer);
                                
                                sidebar.hide();
                                
                            } else {
                                swedishlayer.addTo(mymap);
                                
                                sidebar.show();
                            }
                    
                };

                // Test Cirle
                const cirlce_test = L.circle([60.45, 15.18], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 250,
                }).addTo(mymap).bindPopup("Myr").bindPopup("<h3>Här finns en myr</h3><img src={{ url_for('static', filename='/images/myr.jpg') }} width='150px'>");
                
                countrieslayer = L.geoJson(countries, {
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup(feature.properties.name);
			            }
		        });
                
                
		        document.getElementById("l2").addEventListener("click", c_layers);
                
                function c_layers(){
                    if(mymap.hasLayer(countrieslayer)){
                        mymap.removeLayer(countrieslayer);
                    } 
                    else {
                        countrieslayer.addTo(mymap);
                    }
                };
                // setView max 18

                $("#btnSater").click(function(){
                    mymap.setView([60.34640783388847, 15.746372005989052], 15);
                })

                $("#btnSaterAsenvagen").click(function(){
                    mymap.setView([60.338795723864074, 15.760366274537317], 17);
                })

                $("#btnBagarn").click(function(){
                    mymap.setView([60.40433498667086, 15.59616874097313], 18);
                })


                // Buffer
                            
  /*              sample1.addTo(mymap);
                var s2 = sample1.toGeoJSON();
                
                var samplegeo = turf.buffer(s2, 0.5,{units: 'kilometers' });

                var samplegeol = L.geoJSON(samplegeo, {style:{color:'yellow', dashArray:'5,5', fillOpacity:0.1}}).addTo(mymap);
    */               
            });
               
       </script>
    </body>
</html>