<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Webmapp 201</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='src/leaflet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/Leaflet.PolylineMeasure.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.Default.css') }}">
        
        <script src="{{ url_for('static', filename='src/leaflet-src.js') }}"></script>
        <script src="{{ url_for('static', filename='src/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/turf.min.js') }}" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='src/plugins/Leaflet.PolylineMeasure.js') }}"></script>
        <script src="{{ url_for('static', filename='swedish_counties.js') }}"></script>
        <script src="{{ url_for('static', filename='countries.js') }}"></script>
        
       
        <style>
            #mapdiv {
                height: 100vh;
            }  
            
            #side-bar {
			position: absolute;
			z-index: 1000;
			background: rgba(255,255,255,0.7);
			padding: 10px;
			right: 0;
            top: 0;
			margin: 10px;
			border-radius: 10px;
			min-height: 200px;
            }
                        
        </style>
    </head>
    <body>
       <div id="mapdiv" class="col-md-9"></div>
       
       <div id="side-bar" class="col-md-3"><h2>My Map</h2>
            <button id="l1">layer1</button>
            <button id="l2">layer2</button>
            <button id="btnFalun" class="btn btn-primary btn-block">ZoomToFalun</button>
            <button id="btnHome">ZoomToHome</button>
  
       </div>
       
       <div id="sidebar"><h1>leaflet-sidebar</h1>
       </div>
        
       <script>
            var mymap; 
            var lyrOSM; 
            var mrkCurrentLocation;
            var ctlZoomslider;
            var swedishlayer = L.geoJson(swedish_counties);
            var countrieslayer
            var ctlSlidebar;
            var sample = L.geoJson(sample);
            var sample1 = L.geoJson(sample1);
            
           
            $(document).ready(function(){
                mymap = L.map("mapdiv", {center:[60.48868922712431, 15.421371459960938], zoom:13});
                lyrOSM= L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
                mymap.addLayer(lyrOSM);
                
                
                ctlZoomslider = L.control.zoomslider({position:"topright"}).addTo(mymap);
                
                var sidebar = L.control.sidebar("sidebar", {position: "left"});
                mymap.addControl(sidebar);
                
               const  polyLine = L.control.polylineMeasure().addTo(mymap);


                            
                var blackIcon = L.icon({
                    iconUrl: "../static/map-marker.svg",
                    iconSize:     [32, 37], // size of the icon
                    iconAnchor:   [32, 37], // point of the icon which will correspond to marker's location
                    popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
                });
                
                // Popup and marker
               const  popb = L.marker([60.48868922712431, 15.431371459960938],{icon: blackIcon}).addTo(mymap).bindPopup("Intro to Leaflet");
                
               const popf= L.marker([60.605898734439805,15.628023594617845], {icon:blackIcon}).addTo(mymap).bindPopup("<h3>Falun Museum</h3><img src= '../static/img/museum.jpg' width='150px'>");

                // Test Marker, hur ska man göra detta utan GeoJSon?
              const  popa = L.marker([60.45, 15.18],{icon: blackIcon}).addTo(mymap).bindPopup("Home").bindPopup("<h3>Very cute cat</h3><img src='../static/images/cute-cat-photos-1593441022.jpg' width='150px'>");

                // Test Cirle
                const cirlce_test = L.circle([60.45, 15.18], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 250,

                }).addTo(mymap).bindPopup("Myr").bindPopup("<h3>Här finns en myr</h3><img src='../static/images/myr.jpg' width='150px'>");


                // Test Polygon
              const polygon_test = L.polygon([
              [
              
              60.46007591615924,
              15.176043308090982
            ],
            [
              
              60.457408526862736,
              15.171729152143484
            ],
            [
              
              60.45575283621142,
              15.178326729635586
            ],
            [
              
              60.46007591615924,
              15.176043308090982
            ] 
          ]).addTo(mymap).bindPopup("Home").bindPopup("<h3>Noraåbruk</h3><img src='../static/images/noran.jpg' width='150px'>");



          // Test line

          var points =  [
          [60.45276293163599, 15.183014130750507],
          [60.453015853180915, 15.191843007541138]
        ];

        var Line_test = L.polyline(points, { color: 'red'}).addTo(mymap).bindPopup("Home").bindPopup("<h3>Skogsväg</h3><img src='../static/images/skogsvag.jpg' width='150px'>");

        

                                
                document.getElementById("l1").addEventListener("click", sweden);

		          function sweden(){
                      if(mymap.hasLayer(swedishlayer)){
                          mymap.removeLayer(swedishlayer);
                         
                          sidebar.hide();
                          
                      } else {
                          swedishlayer.addTo(mymap);
                          
                          sidebar.show();
                      }
			
		          };
                
                countrieslayer = L.geoJson(countries, {
			    onEachFeature: function (feature, layer) {
				layer.bindPopup(feature.properties.name);
			     }
		         });


		      document.getElementById("l2").addEventListener("click", c_layers);
                
                function c_layers(){
                    if(mymap.hasLayer(countrieslayer)){
                        mymap.removeLayer(countrieslayer);
                    } 
                    else {
                        countrieslayer.addTo(mymap);
                        }
                    };
                
                
                
                $("#btnFalun").click(function(){
                    mymap.setView([60.605866810126194, 15.628008842468262], 17);
                })


                $("#btnHome").click(function(){
                    mymap.setView([60.45330820861574, 15.180906249746528], 17);
                })
                
                
                
                // Buffer
                            
  /*              sample1.addTo(mymap);
                var s2 = sample1.toGeoJSON();
                
                var samplegeo = turf.buffer(s2, 0.5,{units: 'kilometers' });

                var samplegeol = L.geoJSON(samplegeo, {style:{color:'yellow', dashArray:'5,5', fillOpacity:0.1}}).addTo(mymap);
    */               
                    
  
            });
            

            
       </script>
    </body>
</html>